<div id="leftPanelButContainer" class="leftPanelButContainer">
						
						<div class="buttonRow">
						 
						<div class="button left">edit text</div>
						<div class="button right">bbb</div>
						
						</div>
						
						<div class="buttonRow">
						<div class="button left">ccc</div>
						<div class="button right">ddd</div>
						</div>
						
						<div class="buttonRow">
						<div class="button left">eee</div>
						<div class="button right">fff</div>
						</div>
						
						<div class="buttonRow">
						<div class="button left">ggg</div>
						<div class="button right">hhh</div>
						</div>
						
</div>