.colorBarContainer {
    position:		absolute;
    left:			15px;
    top:			15px;
    width:			30px;
    height:			30px;
    z-index: 		50;
    border:         1px solid #2e2d2e;
    background-color: transparent;
}

.colorBar {
    position:		absolute;
    left: 			0;
    top:			0;
    width:			33%;
    height:			33%;
    z-index: 		55;
    background-color: transparent;/*#AF1318*/
    border: 0.5px solid black;
}
