.basicTopPanel{
    position:		relative;
    left:			40%;
    top: 			-40%;

    width:			55%;
    min-width:      570px;
    height:			70%;
    min-height:     50px;
    z-index: 		50;
    display:        inline-block;


    border: 1px solid #222;
    background: transparent;
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
    box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2) inset;
}