/*   LEFT PANEL ITEMS*/

.basicButton{
    position:		absolute;
    left:			1%;
    top: 			4%;
    width:			6%;
    min-width:      70px;
    height:			90%;
    z-index: 		50;
    border: 1px solid #222;
    background: rgba(50,50,50,.3);

    -webkit-box-shadow: 1px 4px 8px 0px rgba(54, 80, 80, 0.3) inset;
    -moz-box-shadow: 1px 4px 8px 0px rgba(54, 80, 80, 0.3) inset;
    box-shadow: 1px 4px 8px 0px rgba(54, 80, 80, 0.3) inset;
}

/**/
.basicButton:hover{
    -webkit-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.basicButtonLetter{
    position:		relative;
    text-align: 	center;
    padding-top: 	0%;
    margin-left: 	5%;
    /*vertical-align: top;*/
    color:			#888;
    font-size: 		3.5rem;
    font-family: 	"Felix Titling";/* 'Handlee', cursive*/
    text-shadow: 	1px 1px 2px #888, 0 0 1.2em #333; /* Параметры тени */
}
