body {
	z-index: 		1;
	margin: 		0;
	padding: 		0;
	background: #111111;
}

/*    main Container   */
.mainContainer{
	position:		relative;
	top: 			0%;
    left: 			0%;
    width: 			100%;
    height: 		100%;
	background: 	transparent;
	/**/
	display:		none;

}

#firstTitleSpan{
	position: relative;
	left: 7%;
	top:15%;
	width: 70%;
	height: 70%;
	border: #555555;
}

.mainContainerHeader {
	position:		absolute;
	left:			0.1%;
	top:			0%;
	width: 			99.8%;
	height:			10%;
	min-height:		55px;

}

.mainContainerTitle{
	position:		relative;
	top: 			15%;
	text-align: 	left;
	padding-top: 	7px;
	margin-left: 	70px;
	/*vertical-align: top;*/
	color:			#888;
	font-size: 		2.5rem;
	font-family: 	"Felix Titling";/* 'Handlee', cursive*/
	text-shadow: 	1px 1px 2px #222, 0 0 1.2em #888; /* Параметры тени */
}

.footer {
	position:		absolute;
	left:			0%;
	bottom:			0px;
	width:			100%;
	height:			8%;
	max-height:     60px;
	border: 1px solid #222;
}

.footerStringP {
	position:		relative;
	text-align: 	left; 
	padding-top: 	25px;
	margin-left: 	17px; 
	/*vertical-align: top;*/
	color:			#888;
	font-size: 		1.0rem;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

span.movie {
	font-size: 10vw;
	text-decoration: none;
	font-weight: 100;
	letter-spacing: -3px;
	animation: weight 2s infinite;
	animation-delay: calc(var(--char-index) * 150ms);
}

@keyframes weight {
	from {
		font-weight: 100;
	}

	50% {
		font-weight: 900;
	}

	to {
		font-weight: 100;
	}
}
